<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SHInspect.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <userSettings>
    <SHInspect.Settings>
      <setting name="Windows" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="SearchMode" serializeAs="String">
        <value>AutomationId</value>
      </setting>
      <setting name="IsLive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InspectionColour" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="HoverSelect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HoverSelectTime" serializeAs="String">
        <value>700</value>
      </setting>
    </SHInspect.Settings>
  </userSettings>
</configuration>